.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #e8f5e9; /* Fond vert très clair */
}

.menu-bar {
    -fx-background-color: #a5d6a7; /* Fond vert moyen */
    -fx-padding: 15 20 15 20;
}

.menu-bar .menu {
    -fx-text-fill: white; /* Texte des menus en blanc */
    -fx-font-weight: bold;
}

.menu-bar .menu:hover {
    -fx-background-color: #c8e6c9; /* Fond vert clair au survol */
}

.menu-item {
    -fx-text-fill: #2e7d32; /* Texte des items en vert foncé */
    -fx-background-color: #e8f5e9; /* Couleur de fond des items en vert très clair */
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #c8e6c9; /* Couleur de fond au survol des items */
    -fx-text-fill: #2e7d32; /* Texte des items au survol */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #2e7d32; /* Texte des labels en vert foncé */
    -fx-font-weight: bold;
}
