.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #e3f2fd; /* Fond bleu clair */
}

.menu-bar {
    -fx-background-color: #90caf9; /* Fond bleu moyen */
    -fx-padding: 15 20 15 20;
}

.menu-bar .menu {
    -fx-text-fill: white; /* Texte des menus en blanc */
    -fx-font-weight: bold;
}

.menu-bar .menu:hover {
    -fx-background-color: #bbdefb; /* Fond bleu clair au survol */
}

.menu-item {
    -fx-text-fill: #0d47a1; /* Texte des items en bleu foncé */
    -fx-background-color: #e3f2fd; /* Couleur de fond des items en bleu très clair */
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #bbdefb; /* Couleur de fond au survol des items */
    -fx-text-fill: #0d47a1; /* Texte des items au survol */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #0d47a1; /* Texte des labels en bleu foncé */
    -fx-font-weight: bold;
}
