.alert {
    -fx-font-family: 'Arial';
    -fx-background-color: #f3e5f5; /* Fond violet très clair */
    -fx-padding: 20;
    -fx-border-color: #b0bec5; /* Bordure gris clair */
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.dialog-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #b0bec5; /* Bordure gris clair */
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 20;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #4a148c; /* Texte violet foncé */
}

.button-bar .button {
    -fx-text-fill: #4a148c; /* Texte violet foncé */
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.button-oui {
    -fx-background-color: #8e24aa; /* Violet moyen */
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.button-oui:hover {
    -fx-background-color: #7b1fa2; /* Violet foncé au survol */
}

.button-non {
    -fx-background-color: #ffca28; /* Jaune vif */
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.button-non:hover {
    -fx-background-color: #ffb300; /* Jaune foncé au survol */
}
